body{
	background-color: rgb(24, 28, 245);
}
img{
	height:200px;
	border-radius:50%;
}
h1,h2{
	text-align: center;
	color: rgb(223, 102, 22);
}
.right {
				float:right;
				width:80%;
				padding-top:4%;
}
.left{
				float:left;
				width:80%;
				padding-top:1%;
}
.d{
	background-color:#16d9eb;
	margin:auto;
	padding:1%;
	text-align: center;
	border-radius:25px;
	width:90%;
	color:black;
}
.d:hover{
	background-color: rgb(7, 121, 252);
	color:azure;
}